.game__container{
    margin: 20px auto;
    background-color: black;
    width: 600px;
    height: 70%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3,200px);
    gap: 4px;
}

.game__header{
    color: white;
    background-color: black;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
}

.tiktoe__place{
    height: 200px;
    background:white;
    font-size: 150px;
    font-family: 'Montserrat', sans-serif;
    border: none;
}

.tiktoe__place:hover{
    background-color: rgb(222, 221, 221);
    color: white;
}

.game__end{
    position: absolute;
    top: 50%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 50px;
    background-color: black;
    color: white;
}

.game__points{
    text-align: center;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}

.game__reset{
    background: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    border: none;
}